<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Contact</title>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body >
    <nav>
        <input type="checkbox" id="nav-toggle">
        <div class="logo">Connect<strong>Ease</strong></div>
        <ul class="links">
            <li><a href="login.html">My Account</a></li>
            <li><a href="register.html">Logout</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    
    <div class="container">
        <div class="center">
            <div class="row">
                <div class="column">
                    <h1>Create a New Contact</h1>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="form-fields">
                            <div class="txt-field">
                                <input type="text" name="username" required placeholder="firstname">
                                <span></span>
                            </div>
                            <div class="txt-field">
                                <input type="text" name="username" required placeholder="Lastname">
                                <span></span>
                            </div>
                            <div class="txt-field">
                                <input type="email" name="email" required placeholder="Email Address">
                                <span></span>
                            </div>
                            <div class="txt-field">
                                <input type="tel" name="phone" required placeholder="Phone Number">
                                <span></span>
                            </div>
                            <div class="txt-field">
                                <textarea name="address" required placeholder="Address"></textarea>
                                <span></span>
                            </div>
                        </div>
                        <input name="submit" type="submit" value="Create Contact">
                        <a href="javascript:history.back()" class="back-btn"><i class="fas fa-arrow-left"></i> Go to last page</a>
                    </form>
                </div>
                <div class="column">
                    <div class="image-upload">
                        <label for="image-upload" class="upload-icon"><i class="fas fa-cloud-upload-alt"></i></label>
                        <input type="file" name="image" id="image-upload" accept="image/*" required onchange="displayImage(this)">
                       
                        <img id="preview-image" src="#" alt="Preview Image" style="display: none; max-width: 100%; max-height: 200px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Font Awesome CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

   <script>
    function displayImage(input) {
        var reader = new FileReader();
        reader.onload = function (e) {
            var uploadIcon = document.querySelector('.upload-icon');
            uploadIcon.style.backgroundImage = `url('${e.target.result}')`;
            uploadIcon.style.backgroundSize = 'cover';
            uploadIcon.style.color = 'transparent';
        };
        reader.readAsDataURL(input.files[0]);

        // Display file name
        var fileName = input.files[0].name;
        var fileNameSpan = document.getElementById('file-name');
        fileNameSpan.innerText = fileName;
    }
</script>

</body>
</html>
