<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background-image: url(static/img/background.jpg);">

  <nav>
    <input type="checkbox" id="nav-toggle">
    <div class="logo">Connect<strong>Ease</strong></div>
    <ul class="links">
      <li><a href="{{ url_for('login_by_ajax') }}">Login</a></li>
      <li><a href="{{ url_for('register_user_by_ajax') }}">Signup</a></li>
     
      
    </ul>
    <label for="nav-toggle" class="icon-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
  </nav>

  <div class="container">
   
  </div>
  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</body>
</html>