<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8" />

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
</head>
<body style="background-image: url(static/img/background.jpg);">
    <nav>
        <input type="checkbox" id="nav-toggle">
        <div class="logo">Connect<strong>Ease</strong></div>
        <ul class="links">
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Signup</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    
    <div class="container">
        <div class="center">
            <h1>Create an Account</h1>
            <form action="{{ url_for('register') }}" method="POST">
                <div class="txt_field">
                    <input type="text" name="username" required placeholder="Username">
                </div>
                <div class="txt_field">
                    <input type="email" name="email" required placeholder="Email Address">
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required placeholder="Password">
                </div>
                <div class="txt_field">
                    <input type="password" name="confirm_password" required placeholder="Confirm Password">
                </div>
                <div class="txt_field">
                    <input type="text" name="mobileno" required placeholder="Mobile Number">
                </div>
                <input name="submit" type="submit" value="Sign Up">
                <a href="javascript:history.back()" class="back-btn"><i class="fas fa-arrow-left"></i> Go to last page</a>
            </form>
        </div>
    </div>

    <!-- Font Awesome CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
